@import "../../scss/variables";

.form {
  margin: 140px 16px 0;
}

.form__title {
  margin-bottom: 0.5px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.form__body {
  max-width: 380px;
  margin: 0 auto;
}

.form__positions-wrapper {
  position: relative;
}

.form__name,
.form__email {
  margin-top: 50.5px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  position: relative;
  padding: 4px 0;
}

.form__phone {
  margin-top: 50px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  position: relative;
}

.form__name-input,
.form__phone-input,
.form__email-input {
  width: 90%;
  padding: 0;
  margin: 14px 0px 14px 16px;
  border: none;
  background-color: transparent;
  &::placeholder {
    color: $placeholder-color;
    font-size: 16px;
  }
  &:focus {
    outline: none;
  }
}

.form__email-text {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.form__phone {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  padding: 4.5px 0px;
}

.form__name.data__invalid,
.form__email.data__invalid {
  border: 2px solid $error-color;
  margin-top: 49px;
}
.form__phone.data__invalid,
.form__photo.data__invalid {
  border: 2px solid $error-color;
  margin-top: 48px;
}

.form__validation {
  margin: 5px 0px 0px 15px;
  color: $placeholder-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.form__validation.data__invalid {
  color: $error-color;
}

.form__positions {
  margin: 29px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  div:not(:last-child) {
    margin-bottom: 7px;
  }
}

.form__positions-title {
  margin: 0px 0px 15px 0px;
}

.form__position-type {
  position: relative;
}

.form__position-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.form__position-label {
  padding-left: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
  &::before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 1px solid $secondary-color;
    background-color: $background-color;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    z-index: 1;

    transition: border 0.3s linear;
  }
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;

    background-color: $secondary-color;
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    z-index: 2;

    transition: opacity 0.3s linear;
  }
}

.form__position-input:checked + .form__position-label::after {
  opacity: 1;
}

.form__upload {
  margin-top: 47px;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  width: 328px;
  height: 54px;
  position: relative;
}

.form__upload.data__invalid {
  border: 2px solid $error-color;
}

.form__upload-input {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.form__upload-label {
  margin: 0 auto;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #000;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 14.5px;
  &:hover {
    cursor: pointer;
  }
}
.form__upload-label.data__invalid {
  border: 2px solid $error-color;
  left: -2px;
  top: -2px;
  padding: 25px 14.5px;
}

.form__upload-file-name {
  position: absolute;
  top: 50%;
  left: 30.1%;
  transform: translate(0, -50%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: $placeholder-color;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 65%;
}

.form__name-label,
.form__email-label,
.form__phone-label {
  color: $placeholder-color;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.form__name-label.data__invalid,
.form__email-label.data__invalid,
.form__phone-label.data__invalid {
  color: $error-color;
}

.form__name-label.input-focused,
.form__email-label.input-focused,
.form__phone-label.input-focused {
  top: -1px;
  font-size: 12px;
  background-color: $background-color;
  padding: 0 5px;
  left: 10px;
}

.form__button {
  border: none;
  border-radius: 25px;
  background-color: $disabled-color;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  padding: 9px 23px;
  margin: 49px 0 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: 200;
}

.form__button.enabled {
  background-color: $primary-color;
  color: #000;
  &:hover {
    cursor: pointer;
    background-color: $hover-color;
  }
}
