@import "../../scss/variables";

.card {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 0px;
  }
}
.card__photo {
  border-radius: 100%;
  margin-bottom: 20px;
}

.card__name {
  margin: 0 auto 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25.5px;
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    content: attr(data-fullname);
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    border-radius: 4px;
    padding: 3px 16px;
    max-width: 90%;
  }
}

.card__position {
  line-height: 25.5px;
}

.card__email {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25.5px;
  &:hover {
    cursor: pointer;
  }
  &:hover::after {
    cursor: pointer;
    content: attr(data-fullemail);
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.87);
    color: #fff;
    border-radius: 4px;
    padding: 3px 16px;
    max-width: 90%;
  }
}

.card__phone {
  line-height: 25.5px;
}
