/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/card/card.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.card_card__X8ska {
  background-color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .card_card__X8ska {
    margin-bottom: 0px;
  }
}

.card_card__photo__RnCTg {
  border-radius: 100%;
  margin-bottom: 20px;
  line-height: 26px;
}

.card_card__name__SJs4s {
  margin: 0 auto 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
}
.card_card__name__SJs4s:hover::after {
  cursor: pointer;
  content: attr(data-fullname);
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  border-radius: 4px;
  padding: 3px 16px;
  max-width: 90%;
}

.card_card__position__Vt5X1 {
  line-height: 26px;
}

.card_card__email__lH_Un {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 26px;
}
.card_card__email__lH_Un:hover::after {
  cursor: pointer;
  content: attr(data-fullemail);
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.87);
  color: #fff;
  border-radius: 4px;
  padding: 3px 16px;
  max-width: 90%;
}

.card_card__phone__UHmS4 {
  line-height: 26px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/preloader/preloader.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.preloader_preloader-container__ZI_H4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.preloader_preloader__eHWYJ {
  border: 4px solid #00bdd3;
  border-top: 4px solid transparent;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: preloader_spin___TwxO 1s linear infinite;
}

@keyframes preloader_spin___TwxO {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/get/get.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.get_get__JIvNx {
  margin: 140px auto 0;
  text-align: center;
}

.get_get__title__QmBT3 {
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 50px;
  padding: 0 25px;
}

.get_get__cards__cJxc9 {
  position: relative;
  margin: 0 16px;
}
@media (min-width: 768px) {
  .get_get__cards__cJxc9 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 32px;
    grid-gap: 16px;
    gap: 16px;
  }
}
@media (min-width: 1024px) {
  .get_get__cards__cJxc9 {
    max-width: 1168px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 60px;
    gap: 29px;
  }
}
@media (min-width: 1168px) {
  .get_get__cards__cJxc9 {
    margin: 0 auto;
  }
}

.get_get__show-more__Aw7Xm {
  border: none;
  border-radius: 25px;
  background-color: #f4e041;
  font-size: 16px;
  padding: 7.8px 23.1px;
  margin-top: 30px;
}
.get_get__show-more__Aw7Xm:hover {
  background-color: #ffe302;
  cursor: pointer;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/ui/post/post.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.post_form__lQ7t6 {
  margin: 140px 16px 0;
}

.post_form__title__CJ_Uu {
  margin-bottom: 0.5px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
}

.post_form__body__b6RfC {
  max-width: 380px;
  margin: 0 auto;
}

.post_form__positions-wrapper__OEKp7 {
  position: relative;
}

.post_form__name__KNIEa,
.post_form__email__WU0Uq {
  margin-top: 50.5px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  position: relative;
  padding: 4px 0;
}

.post_form__phone__6sk1W {
  margin-top: 50px;
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  position: relative;
}

.post_form__name-input__QRK0w,
.post_form__phone-input__76es3,
.post_form__email-input__2843r {
  width: 90%;
  padding: 0;
  margin: 14px 0px 14px 16px;
  border: none;
  background-color: transparent;
}
.post_form__name-input__QRK0w::placeholder,
.post_form__phone-input__76es3::placeholder,
.post_form__email-input__2843r::placeholder {
  color: #7e7e7e;
  font-size: 16px;
}
.post_form__name-input__QRK0w:focus,
.post_form__phone-input__76es3:focus,
.post_form__email-input__2843r:focus {
  outline: none;
}

.post_form__email-text__FgXEw {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0, -50%);
}

.post_form__phone__6sk1W {
  width: 100%;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  padding: 4.5px 0px;
}

.post_form__name__KNIEa.post_data__invalid__E_ty3,
.post_form__email__WU0Uq.post_data__invalid__E_ty3 {
  border: 2px solid #cb3d40;
  margin-top: 49px;
}

.post_form__phone__6sk1W.post_data__invalid__E_ty3,
.post_form__photo__poalk.post_data__invalid__E_ty3 {
  border: 2px solid #cb3d40;
  margin-top: 48px;
}

.post_form__validation__v7D0C {
  margin: 5px 0px 0px 15px;
  color: #7e7e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

.post_form__validation__v7D0C.post_data__invalid__E_ty3 {
  color: #cb3d40;
}

.post_form__positions__7Foag {
  margin: 29px 0px 0px 0px;
  display: flex;
  flex-direction: column;
}
.post_form__positions__7Foag div:not(:last-child) {
  margin-bottom: 7px;
}

.post_form__positions-title__YJ6am {
  margin: 0px 0px 15px 0px;
}

.post_form__position-type__fOSeF {
  position: relative;
}

.post_form__position-input__FKbx7 {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  position: absolute;
}

.post_form__position-label__E1I__ {
  padding-left: 32px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  cursor: pointer;
}
.post_form__position-label__E1I__::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #00bdd3;
  background-color: #f8f8f8;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  z-index: 1;
  transition: border 0.3s linear;
}
.post_form__position-label__E1I__::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #00bdd3;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(0, -50%);
  z-index: 2;
  transition: opacity 0.3s linear;
}

.post_form__position-input__FKbx7:checked + .post_form__position-label__E1I__::after {
  opacity: 1;
}

.post_form__upload__5uOkT {
  margin-top: 47px;
  border-radius: 4px;
  border: 1px solid #d0cfcf;
  width: 328px;
  height: 54px;
  position: relative;
}

.post_form__upload__5uOkT.post_data__invalid__E_ty3 {
  border: 2px solid #cb3d40;
}

.post_form__upload-input__NMgs1 {
  width: 0px;
  height: 0px;
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.post_form__upload-label__lBQdZ {
  margin: 0 auto;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #000;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 26px 14.5px;
}
.post_form__upload-label__lBQdZ:hover {
  cursor: pointer;
}

.post_form__upload-label__lBQdZ.post_data__invalid__E_ty3 {
  border: 2px solid #cb3d40;
  left: -2px;
  top: -2px;
  padding: 25px 14.5px;
}

.post_form__upload-file-name__eOu2_ {
  position: absolute;
  top: 50%;
  left: 30.1%;
  transform: translate(0, -50%);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  color: #7e7e7e;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 65%;
}

.post_form__name-label__oxAV3,
.post_form__email-label__Ztomx,
.post_form__phone-label__adpgo {
  color: #7e7e7e;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
  transition: top 0.3s, font-size 0.3s;
}

.post_form__name-label__oxAV3.post_data__invalid__E_ty3,
.post_form__email-label__Ztomx.post_data__invalid__E_ty3,
.post_form__phone-label__adpgo.post_data__invalid__E_ty3 {
  color: #cb3d40;
}

.post_form__name-label__oxAV3.post_input-focused__aEZt5,
.post_form__email-label__Ztomx.post_input-focused__aEZt5,
.post_form__phone-label__adpgo.post_input-focused__aEZt5 {
  top: -1px;
  font-size: 12px;
  background-color: #f8f8f8;
  padding: 0 5px;
  left: 10px;
}

.post_form__button__8gG3R {
  border: none;
  border-radius: 25px;
  background-color: #b4b4b4;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  padding: 9px 23px;
  margin: 49px 0 100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: 200;
}

.post_form__button__8gG3R.post_enabled__j2mqo {
  background-color: #f4e041;
  color: #000;
}
.post_form__button__8gG3R.post_enabled__j2mqo:hover {
  cursor: pointer;
  background-color: #ffe302;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_main__wall__cJyhu {
  flex: 1 1 auto;
  text-align: center;
  background-image: url(/_next/static/media/bg-s.f7ba75b1.png);
  background-size: cover;
  background-position: 0% center;
  background-repeat: no-repeat;
  height: 500px;
}
@media (min-width: 768px) {
  .page_main__wall__cJyhu {
    background-image: url(/_next/static/media/bg-m.04ce69c1.png);
  }
}
@media (min-width: 1024px) {
  .page_main__wall__cJyhu {
    background-image: url(/_next/static/media/bg-l.8cee9cdf.png);
    height: 650px;
  }
}
@media (min-width: 1170px) {
  .page_main__wall__cJyhu {
    margin: 0 auto;
    max-width: 1170px;
    background-image: url(/_next/static/media/bg-xl.4dbca6fd.png);
  }
}

.page_main__wrapper__9yTbD {
  margin: 0px auto 0px;
  color: #fff;
}

.page_main__title__UrxqV {
  margin: 0px auto 0px;
  max-width: 380px;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding: 40px 16px 0px 16px;
}
@media (min-width: 768px) {
  .page_main__title__UrxqV {
    padding: 89px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .page_main__title__UrxqV {
    padding: 164px 0px 0px;
  }
}

.page_main__text__tutML {
  margin: 0px auto 0px;
  max-width: 380px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding: 21px 16px 0px;
}
@media (min-width: 768px) {
  .page_main__text__tutML {
    max-width: 410px;
  }
}

.page_main__button__xWu_r {
  border: none;
  border-radius: 25px;
  background-color: #f4e041;
  padding: 7.8px 23.1px;
  font-size: 16px;
  margin: 32px 0px 75px 0px;
}
.page_main__button__xWu_r:hover {
  background-color: #ffe302;
  cursor: pointer;
}
